@charset "UTF-8";
/**
 * Table of Contents
 *
 * Normalize
 * Foundation
 * Base
 * 		Fonts
 *		Typography
 *		Lists
 *		Tables
 * 		Helpers
 * Layout
 * 		Header
 *		Content
 *		Widget Area
 *		Footer
 * Formats
 *		Audio
 *		Image
 *		Link
 *		Quote
 *		Status
 *		Video
 * Components
 *		Accessibility
 *		Buttons
 *		Galleries
 *		Captions
 *		Comments
 *		PageNavi
 */
// -----------------------------------------------------------------------------
// Vendors
// -----------------------------------------------------------------------------
@import "normalize";
// -----------------------------------------------------------------------------
// Configuration and helpers
// -----------------------------------------------------------------------------
@import "bourbon";
@import "foundation/settings";
@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
// -----------------------------------------------------------------------------
// Import all Foundation components
// -----------------------------------------------------------------------------
//@import "foundation";
// -----------------------------------------------------------------------------
// Behold, here are all the Foundation components.
// -----------------------------------------------------------------------------
@import "foundation/components/grid";
@import "foundation/components/accordion";
//@import "foundation/components/alert-boxes";
@import "foundation/components/block-grid";
@import "foundation/components/breadcrumbs";
//@import "foundation/components/button-groups";
@import "foundation/components/buttons";
//@import "foundation/components/clearing";
//@import "foundation/components/dropdown";
//@import "foundation/components/dropdown-buttons";
@import "foundation/components/flex-video";
@import "foundation/components/forms";
//@import "foundation/components/icon-bar";
@import "foundation/components/inline-lists";
//@import "foundation/components/joyride";
@import "foundation/components/keystrokes";
@import "foundation/components/labels";
//@import "foundation/components/magellan";
//@import "foundation/components/orbit";
@import "foundation/components/pagination";
@import "foundation/components/panels";
//@import "foundation/components/pricing-tables";
//@import "foundation/components/progress-bars";
//@import "foundation/components/range-slider";
//@import "foundation/components/reveal";
//@import "foundation/components/side-nav";
//@import "foundation/components/split-buttons";
//@import "foundation/components/sub-nav";
//@import "foundation/components/switches";
@import "foundation/components/tables";
//@import "foundation/components/tabs";
//@import "foundation/components/thumbs";
//@import "foundation/components/tooltips";
@import "foundation/components/top-bar";
@import "foundation/components/type";
//@import "foundation/components/offcanvas";
@import "foundation/components/visibility";
// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------
@import "base/fonts";
@import "base/helpers";
// -----------------------------------------------------------------------------
// Layout-related sections
// -----------------------------------------------------------------------------
@import "layout/header";
@import "layout/navigation";
@import "layout/content";
@import "layout/widget-area";
@import "layout/footer";
// -----------------------------------------------------------------------------
// Formats
// -----------------------------------------------------------------------------
@import "layout/format-audio";
@import "layout/format-image";
@import "layout/format-link";
@import "layout/format-quote";
@import "layout/format-status";
@import "layout/format-video";
// -----------------------------------------------------------------------------
// Components
// -----------------------------------------------------------------------------
@import "components/accessibility";
@import "components/buttons";
@import "components/galleries";
@import "components/captions";
@import "components/comments";
@import "components/wp-pagenavi";
