/**
 * Content
 */
.container {
	@include grid-row;
	padding-left: ($column-gutter / 2);
	padding-right: ($column-gutter / 2);
}

.site-content {
	@include grid-row;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.content-area {
	@extend .medium-8;
	@extend .columns;
	&.full-width {
		@extend .medium-12;
	}
}

.hentry {
	position: relative;
	margin: rem-calc(0 0 40 0);
	background: $white;
	border-bottom: 1px solid $secondary-color;
	border-radius: $global-radius;
	box-shadow: 0 $global-radius darken($secondary-color, 10%);
	&.sticky {
		display: block;
		box-shadow: 0 $global-radius $success-color;
	}
	.entry-header {
		@include clearfix;
		padding: rem-calc(20);
		margin-bottom: rem-calc(15);
		border-bottom: 1px solid darken($secondary-color, 5%);
		.post-thumbnail img {
			@include size(75px auto);
			border-radius: $global-radius;
		}
		.entry-meta {
			font-size: rem-calc(12);
		}
	}
	.entry-title {
		@extend h2;
		margin: rem-calc(0 0 5);
	}
	.entry-content,
	.entry-summary {
		@include clearfix;
		padding: rem-calc(0 15 0);
	}
	.entry-footer {
		@include clearfix;
		padding: rem-calc(15);
		background: $snow;
		color: $jumbo;
		border-top: 1px solid darken($secondary-color, 5%);
		font-size: rem-calc(12);
	}
	.cat-links {
		margin-right: rem-calc(15);
	}
	.entry-time {
		float: left;
	}
	.comments-link {
		float: right;
	}
	.edit-link {
		display: block;
		float: right;
		font-size: rem-calc(13);
	}
}

.page-header {
	padding: rem-calc(10 0);
	border-top: 1px solid darken($secondary-color, 10);
	border-bottom: 1px solid darken($secondary-color, 10);
	margin-bottom: rem-calc(20);
	.page-title {
		font-size: rem-calc(18);
		margin-top: 0;
		span {
			font-weight: 300;
		}
	}
	.taxonomy-description p {
		font-size: rem-calc(14);
		margin-bottom: 0;
	}
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5rem;
}