/**
 * Footer
 */
.site-footer {
	margin-top: rem-calc(40);
	padding: rem-calc(40 0);
	font-size: rem-calc(13);
	color: $secondary-color;
	background-color: $primary-color;
	text-align: center;
	a {
		color: $secondary-color;
		@include on-event() {
			color: scale-color($secondary-color, $lightness: -14%);;
		}
	}
}