.format-status {
	@include radial-gradient(50% 100%, rgb(235, 235, 235), rgb(252, 252, 252));
	margin-top: rem-calc(60);
	.entry-header {
		display: none;
	}
	.entry-avatar {
		position: relative;
		top: -40px;
		img {
			@extend .aligncenter;
			border-radius: $global-rounded;
		}
	}
}