.widget-area {
	@extend .medium-4;
	@extend .columns;
}

.widget {
	margin-bottom: 30px;
	ul, ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		padding: 5px 0;
	}
	.children li:last-child {
		padding-bottom: 0;
	}
	li > ul,
	li > ol {
		margin-left: rem-calc(20);
	}
	select {
		max-width: 100%;
	}
}

.widget-title {
	font-size: rem-calc(18);
	font-weight: 600;
	border-bottom: 1px solid #ccc;
	margin-bottom: rem-calc(10);
	padding-bottom: 10px;
}

.search-form .search-submit {
	display: none;
}